/* sass 를 이용해서 css programming 이 가능하다 */

$width:992px; //width 라는 이름의 변수 만들고 초기값 대입

.container{
    width: $width; //변수를 참조 
    margin: 0 auto;
}

.msg-list{
    margin-left: $width/2;
    li{
        color: red;
        &:hover{
            background-color: yellow;
        }
    }
}